body{
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    
}

.top-container{

    background-color: aqua;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "top1 top2";
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.top-image{
    grid-area: top1;
    text-align: right;
}

.about-me{
    grid-area: top2;
    text-align: left;
    width: 350px;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 10px;
    
}

.about-me .socials{
    text-align: right;
}


.middle-container{
    background-color: rgb(168, 240, 240);

}

.middle-container h2{
    padding-left: 60px;
    margin-bottom: 20px;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 10%;
}

.project .socials{
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}

/*Tablet layout (3 by 2) */
@media(min-width: 600px) and (max-width: 1024px){
    .main{
        grid-template-columns: repeat(2,1fr); /*Two columns */
    }
}

/*Desktop layout (2 by 3) */
@media(min-width:1025px){
    .main{
        grid-template-columns: repeat(3, 1fr); /*Three columns */
    }
}

.project{
    background-color: rgb(164, 107, 218);
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas: 
    "image image"
    "name socials"
    "description description";
    width: 250px;
}

.project_image{
    grid-area: image;
    width: 100%;
}
.project_name{
    grid-area: name;
    padding-left: 20px;
}
.socials{
    grid-area: socials;
    padding-right: 20px;
}
.description{
    grid-area: description;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-container{
    background-color: aquamarine;
    color: black;
    /*font-size: 1.2em;*/
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "bottom1 bottom2";
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    margin-top: 20px;

}

.contacts{
    grid-area: bottom1;
    text-align: left;
    width: 350px;
    padding-left: 60px;
    padding-top: 20px;
}

.formal{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    "phone phone-number"
    "email email-text";
    margin-bottom: 5px;

}

.phone{
    grid-area: phone;
}

.email{
    grid-area: email;
}

.phone-numbers{
    grid-area: phone-number;
}

.email-text{
    grid-area: email-text;
}

.bottom-image{
    grid-area: bottom2;
    text-align: left;
    width: 1fr;
    padding-top: 30px;
}


