body{
    font-family: 'Roboto', sans-serif;
    
}

.top-container{

    background-color: aqua;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "top1 top2";
    align-items: center;
    justify-content: center;
}

.top-image{
    grid-area: top1;
    text-align: right;
}

.about-me{
    grid-area: top2;
    text-align: left;
}


.middle-container{
    background-color: rgb(168, 240, 240);

}

.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/*Tablet layout (3 by 2) */
@media(min-width: 600px) and (max-width: 1024px){
    .main{
        grid-template-columns: repeat(2,1fr); /*Two columns */
    }
}

/*Desktop layout (2 by 3) */
@media(min-width:1025px){
    .main{
        grid-template-columns: repeat(3, 1fr); /*Three columns */
    }
}
.bottom-container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "bottom1 bottom2";
    align-items: center;
    justify-content: center;

}

.contacts{
    grid-area: bottom1;
    text-align: left;
}

.bottom-image{
    grid-area: bottom2;
    text-align: left;
}


